{% extends "base-logged.html" %} {% block scripts %}
<script src="/../js/add-expense.js"></script>
{% endblock %} {% block title %}Dodawanie wydatku{% endblock %} {% block
subtitle %}Dodaj wydatek{% endblock %}{% block thirdOption %}active{% endblock
%}{% block main %}
<script>
  $(document).ready(function () {
    function deleteMessages() {
      setTimeout(function () {
        $(".alert").remove();
        $(".errors").remove();
      }, 4000);
    }

    $("#add-limit").submit(function (event) {
      event.preventDefault();

      $("#limitModal").modal("hide");

      $.post("expense/limit", {
        category_limit: $("#category-limit").val(),
        amount_limit: $("#amount-limit").val(),
      })
        .done(function (data, status) {
          $("#messages").html(data);
          deleteMessages();
          $("#add-limit").off("submit");
          console.log(status);
        })
        .fail(function (status) {
          console.log(status);
        });
    });
  });
</script>
<main>
  <section class="adding-expenses">
    <div class="container-custom border rounded bg-white mt-2 py-2">
      <div id="messages"></div>
      <div class="row justify-content-center">
        <form action="expense/add" method="post" id="add-expense">
          <div class="input-group">
            <div class="input-group-prepend">
              <div class="input-group-text pr-2">
                <i class="far fa-credit-card"></i>
              </div>
            </div>
            <label class="sr-only" for="payment">Sposób płatności</label>
            <select name="payment" id="payment" class="form-control">
              <option selected disabled>Wybierz sposób płatności</option>
              {% for method in payment_methods %}
              <option value="{{ method.name }}">
                {{ translated_categories[method.name] }}
              </option>
              {% endfor %}
            </select>
          </div>
          <div class="input-group mt-2">
            <div class="input-group-prepend">
              <div class="input-group-text pr-3">
                <i class="fas fa-dollar-sign"></i>
              </div>
            </div>
            <label class="sr-only" for="amount">Kwota</label>
            <input
              type="number"
              name="amount"
              id="amount"
              class="form-control"
              placeholder="Kwota"
              step="0.01"
              required
            />
          </div>
          <div class="input-group mt-2">
            <div class="input-group-prepend">
              <div class="input-group-text pr-2">
                <i class="fas fa-money-check"></i>
              </div>
            </div>
            <label class="sr-only" for="category">Kategoria</label>
            <select name="category" id="category" class="form-control" required>
              <option selected disabled>Wybierz kategorię</option>
              {% for category in expense_categories %}
              <option value="{{ category.name }}">
                {{ translated_categories[category.name] }}
              </option>
              {% endfor %}
            </select>
          </div>
          <div class="input-group mt-2">
            <div class="input-group-prepend">
              <div class="input-group-text">
                <i class="far fa-calendar-alt"></i>
              </div>
            </div>
            <label class="sr-only" for="date">Data</label>
            <input
              type="date"
              name="date"
              id="date"
              class="form-control"
              required
            />
          </div>
          <div class="input-group mt-2 mb-2">
            <label class="sr-only" for="comment">Komentarz (opcjonalnie)</label>
            <textarea
              name="comment"
              id="comment"
              rows="2"
              class="form-control"
              placeholder="Komentarz (opcjonalnie)"
            ></textarea>
          </div>
          <button type="submit" class="btn btn-some">Dodaj</button>
          <button
            type="button"
            class="btn btn-warning"
            data-toggle="modal"
            data-target="#limitModal"
            title="Dodanie limitu do wybranej kategorii pozwoli Ci lepiej zaplanować wydatki. Za każdym razem, gdy spróbujesz dodać wydatek przekraczający dany limit, program wyświetli Ci ostrzeżenie, a Ty zastanowisz się przynajmniej dwa razy zanim wydasz tyle pieniędzy :)"
          >
            Ustal limit <i class="far fa-stop-circle"></i>
          </button>
          <a href="/home" class="btn btn-danger">Anuluj</a>
        </form>
        {% if errors is not empty %}
        <div>
          <p class="text-danger text-center mt-2 mb-0">Lista błędów:</p>
          <ul>
            {% for error in errors %}
            <li>{{ error }}</li>
            {% endfor %}
          </ul>
        </div>
        {% endif %}
      </div>
    </div>
  </section>
</main>
<!-- Modal do ustawiania limitów -->
<div
  class="modal fade"
  id="limitModal"
  data-backdrop="static"
  data-keyboard="false"
  tabindex="-1"
  aria-labelledby="limitModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editModalLabel">
          Ustal limit w danej kategorii
        </h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Zamknij"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form action="expense/limit" method="post" id="add-limit">
        <div class="modal-body">
          <div class="input-group mt-2">
            <div class="input-group-prepend">
              <div class="input-group-text pr-2">
                <i class="fas fa-money-check"></i>
              </div>
            </div>
            <label class="sr-only" for="category-limit">Kategoria</label>
            <select
              name="category_limit"
              id="category-limit"
              class="form-control"
              required
            >
              <option selected disabled>Wybierz kategorię</option>
              {% for category in expense_categories %}
              <option value="{{ category.name }}">
                {{ translated_categories[category.name] }}
              </option>
              {% endfor %}
            </select>
          </div>
          <div class="input-group mt-2">
            <div class="input-group-prepend">
              <div class="input-group-text pr-3">
                <i class="fas fa-dollar-sign"></i>
              </div>
            </div>
            <label class="sr-only" for="amount">Kwota limitu</label>
            <input
              type="number"
              name="amount_limit"
              id="amount-limit"
              class="form-control"
              placeholder="Kwota limitu"
              step="0.01"
              required
            />
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">
            Anuluj
          </button>
          <button type="submit" class="btn btn-warning">
            Dodaj limit <i class="far fa-stop-circle"></i>
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
