{% extends "base-logged.html" %} {% block scripts %}
<script src="/../js/add-expense.js"></script>
{% endblock %} {% block title %}Dodawanie wydatku{% endblock %} {% block
subtitle %}Dodaj wydatek{% endblock %}{% block thirdOption %}active{% endblock
%}{% block main %}
<main>
  <section class="adding-expenses">
    <div class="container-custom border rounded bg-white mt-2 py-2">
      <div id="messages"></div>
      <div class="row justify-content-center">
        <form action="expense/add" method="post" id="add-expense">
          <div class="input-group">
            <div class="input-group-prepend">
              <div class="input-group-text pr-2">
                <i class="far fa-credit-card"></i>
              </div>
            </div>
            <label class="sr-only" for="payment">Sposób płatności</label>
            <select name="payment" id="payment" class="form-control">
              <option selected disabled>Wybierz sposób płatności</option>
              {% for method in payment_methods %}
              <option value="{{ method.name }}">
                {{ translated_categories[method.name] }}
              </option>
              {% endfor %}
            </select>
          </div>
          <div class="input-group mt-2">
            <div class="input-group-prepend">
              <div class="input-group-text pr-3">
                <i class="fas fa-dollar-sign"></i>
              </div>
            </div>
            <label class="sr-only" for="amount">Kwota</label>
            <input
              type="number"
              name="amount"
              id="amount"
              class="form-control"
              placeholder="Kwota"
              step="0.01"
              required
            />
          </div>
          <div class="input-group mt-2">
            <div class="input-group-prepend">
              <div class="input-group-text pr-2">
                <i class="fas fa-money-check"></i>
              </div>
            </div>
            <label class="sr-only" for="category">Kategoria</label>
            <select name="category" id="category" class="form-control" required>
              <option selected disabled>Wybierz kategorię</option>
              {% for category in expense_categories %}
              <option value="{{ category.name }}">
                {{ translated_categories[category.name] }}
              </option>
              {% endfor %}
            </select>
          </div>
          <div id="limitation"></div>
          <div class="input-group mt-2">
            <div class="input-group-prepend">
              <div class="input-group-text">
                <i class="far fa-calendar-alt"></i>
              </div>
            </div>
            <label class="sr-only" for="date">Data</label>
            <input
              type="date"
              name="date"
              id="date"
              class="form-control"
              required
            />
          </div>
          <div class="input-group mt-2 mb-2">
            <label class="sr-only" for="comment">Komentarz (opcjonalnie)</label>
            <textarea
              name="comment"
              id="comment"
              rows="2"
              class="form-control"
              placeholder="Komentarz (opcjonalnie)"
            ></textarea>
          </div>
          <button type="submit" class="btn btn-some">
            Dodaj <i class="fas fa-plus"></i>
          </button>
          <a href="/home" class="btn btn-danger">Anuluj</a>
        </form>
        {% if errors is not empty %}
        <div class="errors">
          <p class="text-danger text-center mt-2 mb-0">Lista błędów:</p>
          <ul>
            {% for error in errors %}
            <li>{{ error }}</li>
            {% endfor %}
          </ul>
        </div>
        {% endif %}
      </div>
    </div>
  </section>
</main>
<!-- Modal z ostrzeżeniem dla użytkownika, jeśli kwota, którą podał przekracza wyznaczony limit -->
<div
  class="modal fade"
  id="warningModal"
  data-backdrop="static"
  data-keyboard="false"
  tabindex="-1"
  aria-labelledby="warningModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editModalLabel">UWAGA!</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Zamknij"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form action="expense/add" method="post" id="add-expense-over-limit">
        <div class="modal-body">
          <p class="text-center">
            Czy na pewno chcesz dodać wydatek przekraczający limit wynoszący
            <strong id="amount-limit-warning"></strong> zł?
          </p>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-danger">
            Tak <i class="fas fa-plus"></i>
          </button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">
            Nie
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
