{% extends 'base.html' %} {% block title %}Nie pamiętam hasła{% endblock %} {%
block body %}

<div
  class="container container-sm border rounded bg-white text-center py-2 mt-2 px-2"
>
  <h1>
    E-mail z instrukcjami dotyczącymi resetowania hasła został wysłany
    <i class="far fa-smile"></i>
  </h1>
  <p class="lead">Sprawdź swoją skrzynkę pocztową</p>
  <p class="text-secondary">
    Jeśli nie możesz znaleźć maila w swojej skrzynce odbiorczej, sprawdź folder
    SPAM
  </p>
  <a href="/" class="btn btn-other">Powrót</a>
</div>

{% endblock %}
