{% extends "base-logged.html" %} {% block title %}Przegląd bilansu{% endblock %}
{% block subtitle %}Bilans z {{ session.which_date }}{% endblock %}{% block
fourthOption %}active{% endblock %}{% block main %}
<main>
  <div class="container border rounded bg-white mt-2 pt-3">
    <section class="balance">
      <div class="row mb-2">
        <div class="col-md-6">
          <button
            type="button"
            class="btn btn-other btn-lg btn-block dropdown-toggle"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            Wybierz widok
          </button>
          <div class="dropdown-menu dropdown-menu-right">
            <a class="dropdown-item" id="current-month" href="balance/general"
              >Ogólny</a
            >
            <a
              class="dropdown-item"
              id="previous-month"
              href="/balance/particular"
              >Szczegółowy</a
            >
          </div>
        </div>
        <div class="col-md-6 period-choice">
          <button
            type="button"
            class="btn btn-info btn-lg btn-block dropdown-toggle"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            Wybierz okres
          </button>
          <div class="dropdown-menu dropdown-menu-right">
            <a
              class="dropdown-item"
              id="current-month"
              href="/balance/current-month"
              >Bieżący miesiąc</a
            >
            <a
              class="dropdown-item"
              id="previous-month"
              href="/balance/previous-month"
              >Poprzedni miesiąc</a
            >
            <a
              class="dropdown-item"
              id="current-year"
              href="/balance/current-year"
              >Bieżący rok</a
            >
            <button
              class="dropdown-item"
              id="custom-date"
              data-toggle="modal"
              data-target="#customDateModal"
            >
              Niestandardowy
            </button>
          </div>
        </div>
      </div>
      <!-- Widok ogólny -->
      {% if session.general_view %}
      <script>
        var particularView = false;
      </script>
      <div class="row justify-content-between">
        <div class="col">
          <h3 class="text-center">Przychody</h3>
          <div class="rwd-table">
            <table class="table table-bordered">
              <thead class="bg-success text-white">
                <tr>
                  <th scope="col">#</th>
                  <th scope="col" class="middle-col">Kategoria</th>
                  <th scope="col">Łączna kwota</th>
                </tr>
              </thead>
              <tbody>
                {% set i = 0 %} {% set sumOfIncomes = 0 %} {% for income in
                session.summed_incomes %}
                <tr>
                  {% set i = i + 1 %}
                  <th scope="row">{{ i }}</th>
                  <td>{{ incomes_categories[income.name] }}</td>
                  <td id="{{ income.name }}">{{ income.amount }}</td>
                  {% set sumOfIncomes = sumOfIncomes + income.amount %}
                </tr>
                {% endfor %}
                <tr>
                  <th scope="row">Razem</th>
                  <td class="text-center">-</td>
                  <th id="incomes">{{ sumOfIncomes }}</th>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="row justify-content-between">
        <div class="col">
          <h3 class="text-center">Wydatki</h3>
          <div class="rwd-table">
            <table class="table table-bordered">
              <thead class="bg-warning text-white">
                <tr>
                  <th scope="col">#</th>
                  <th scope="col" class="middle-col">Kategoria</th>
                  <th scope="col">Łączna kwota</th>
                </tr>
              </thead>
              <tbody>
                {% set i = 0 %} {% set sumOfExpenses = 0 %} {% for expense in
                session.summed_expenses %}
                <tr>
                  {% set i = i + 1 %}
                  <th scope="row">{{ i }}</th>
                  <td>{{ expenses_categories[expense.name] }}</td>
                  <td id="{{ expense.name }}">{{ expense.amount }}</td>
                  {% set sumOfExpenses = sumOfExpenses + expense.amount %}
                </tr>
                {% endfor %}
                <tr>
                  <th scope="row">Razem</th>
                  <td class="text-center">-</td>
                  <th id="expenses">{{ sumOfExpenses }}</th>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      {% endif %}
      <!-- Widok szczegółowy -->
      {% if session.particular_view %}
      <script>
        var particularView = true;
      </script>
      <div class="row justify-content-between">
        <div class="col">
          <h3 class="text-center">Przychody</h3>
          <div class="rwd-table">
            <table class="table table-bordered">
              <thead class="bg-success text-white">
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Kategoria</th>
                  <th scope="col">Data</th>
                  <th scope="col">Kwota</th>
                  <th scope="col">Komentarz</th>
                </tr>
              </thead>
              <tbody>
                {% set i = 0 %} {% set sumOfIncomes = 0 %} {% for income in
                session.all_incomes %}
                <tr>
                  {% set i = i + 1 %}
                  <th scope="row">{{ i }}</th>
                  <td>{{ incomes_categories[income.name] }}</td>
                  <td>{{ income.date_of_income }}</td>
                  <td class="{{ income.name }}">{{ income.amount }}</td>
                  <td>{{ income.income_comment }}</td>
                  {% set sumOfIncomes = sumOfIncomes + income.amount %}
                </tr>
                {% endfor %}
                <tr>
                  <th scope="row">Razem</th>
                  <td class="text-center">-</td>
                  <td class="text-center">-</td>
                  <th id="incomes">{{ sumOfIncomes }}</th>
                  <td class="text-center">-</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="row justify-content-between">
        <div class="col">
          <h3 class="text-center">Wydatki</h3>
          <div class="rwd-table">
            <table class="table table-bordered">
              <thead class="bg-warning text-white">
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Kategoria</th>
                  <th scope="col">Metoda płatności</th>
                  <th scope="col">Data</th>
                  <th scope="col">Kwota</th>
                  <th scope="col">Komentarz</th>
                </tr>
              </thead>
              <tbody>
                {% set i = 0 %} {% set sumOfExpenses = 0 %} {% for expense in
                session.all_expenses %}
                <tr>
                  {% set i = i + 1 %}
                  <th scope="row">{{ i }}</th>
                  <td>{{ expenses_categories[expense.expense_category] }}</td>
                  <td>{{ payment_methods[expense.payment_method] }}</td>
                  <td>{{ expense.date_of_expense }}</td>
                  <td class="{{ expense.expense_category }}">
                    {{ expense.amount }}
                  </td>
                  <td>{{ expense.expense_comment }}</td>
                  {% set sumOfExpenses = sumOfExpenses + expense.amount %}
                </tr>
                {% endfor %}
                <tr>
                  <th scope="row">Razem</th>
                  <td class="text-center">-</td>
                  <td class="text-center">-</td>
                  <td class="text-center">-</td>
                  <th id="expenses">{{ sumOfExpenses }}</th>
                  <td class="text-center">-</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      {% endif %}
    </section>

    <section class="charts">
      <div class="row justify-content-center">
        <div class="col-lg-6">
          <div id="piechart-incomes"></div>
        </div>
        <div class="col-lg-6">
          <div id="piechart-expenses"></div>
        </div>
      </div>
    </section>

    <section class="difference py-3">
      <table class="table table-bordered">
        <tr>
          <th scope="col">Różnica</th>
          <td id="difference" class="text-white"></td>
        </tr>
      </table>
      <div class="feedback text-center">
        <div class="onPlus">
          <h4>
            <span class="text-success">Gratulacje. </span>Świetnie zarządzasz
            finansami! <i class="far fa-smile-beam"></i>
          </h4>
        </div>
        <div class="onMinus">
          <h4>
            <span class="text-danger">Uważaj! </span>Wpadasz w długi
            <i class="far fa-sad-tear"></i>
          </h4>
        </div>
      </div>
    </section>
  </div>
  <!-- Modal do wyboru niestandardowego okresu -->
  <div
    class="modal fade"
    id="customDateModal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="customDateModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="customDateModalLabel">
            Podaj daty początku i końca okresu
          </h5>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form action="/balance/custom-date" method="post">
          <div class="modal-body">
            <div class="input-group mr-2 mb-2">
              <label for="start-date" class="mr-2">Od </label>
              <div class="input-group-prepend">
                <div class="input-group-text">
                  <i class="far fa-calendar-alt"></i>
                </div>
              </div>
              <input
                type="date"
                name="start-date"
                id="start-date"
                class="form-control"
                required
              />
            </div>
            <div class="input-group mr-2 mb-2">
              <label for="end-date" class="mr-2">Do </label>
              <div class="input-group-prepend">
                <div class="input-group-text">
                  <i class="far fa-calendar-alt"></i>
                </div>
              </div>
              <input
                type="date"
                name="end-date"
                id="end-date"
                class="form-control"
                required
              />
            </div>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-dismiss="modal"
            >
              Anuluj
            </button>
            <button type="submit" class="btn btn-some">Wybierz</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</main>
<!-- Skrypt do wyświetlania wykresów kołowych -->
<script
  type="text/javascript"
  src="https://www.gstatic.com/charts/loader.js"
></script>
<!-- Skrypt do prawidłowego wyświetlania bilansu -->
<script src="/js/balance.js"></script>
{% endblock %}
