{% extends "base-logged.html" %} {% block title %}Przegląd bilansu{% endblock %}
{% block subtitle %}Bilans{% endblock %} {% block fourthOption %}active{%
endblock %}{% block main %}
<script>
  function getTable(route) {
    $.get(route)
      .done(function (data, status) {
        $("#tables").html(data);
        $.get("/js/balance.js");
      })
      .fail(function (status) {
        console.log(status);
      });
  }
  // Pobieranie tabel
  $(document).ready(function () {
    $("#general-view").click(function (event) {
      event.preventDefault();
      getTable("balance/general");
    });
    $("#particular-view").click(function (event) {
      event.preventDefault();
      getTable("balance/particular");
    });

    $("#current-month").click(function (event) {
      event.preventDefault();
      getTable("balance/current-month");
    });
    $("#previous-month").click(function (event) {
      event.preventDefault();
      getTable("balance/previous-month");
    });
    $("#current-year").click(function (event) {
      event.preventDefault();
      getTable("balance/current-year");
    });
    $("#custom-date-choice").submit(function (event) {
      event.preventDefault();
      var startDate = $("#start-date").val();
      var endDate = $("#end-date").val();
      $.post("balance/custom-date", {
        start_date: startDate,
        end_date: endDate,
      })
        .done(function (data, status) {
          $("#tables").html(data);
          $.get("/js/balance.js");
        })
        .fail(function (status) {
          console.log(status);
        });
      $("#customDateModal").modal("hide");
    });
  });
</script>
{% if session.default_view %}
<script>
  $(document).ready(function () {
    getTable("balance/current-month");
  });
</script>
{% endif %} {% if session.recently_chosen_period %} {% if
session.recently_chosen_period == "custom-date" %}
<script>
  $(document).ready(function () {
    var startDate = "{{ session.start_date }}";
    var endDate = "{{ session.end_date }}";
    $.post("balance/custom-date", {
      start_date: startDate,
      end_date: endDate,
    })
      .done(function (data, status) {
        $("#tables").html(data);
        $.get("/js/balance.js");
      })
      .fail(function (status) {
        console.log(status);
      });
  });
</script>
{% endif %}
<script>
  $(document).ready(function () {
    getTable(`balance/${"{{ session.recently_chosen_period }}"}`);
  });
</script>
{% endif %}
<main>
  <div class="container border rounded bg-white mt-2 pt-3">
    <section class="balance">
      <div class="row mb-2">
        <div class="col-md-6">
          <button
            type="button"
            class="btn btn-other btn-lg btn-block dropdown-toggle"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            Wybierz widok
          </button>
          <div class="dropdown-menu dropdown-menu-right">
            <a class="dropdown-item" id="general-view" href="balance/general"
              >Ogólny</a
            >
            <a
              class="dropdown-item"
              id="particular-view"
              href="/balance/particular"
              >Szczegółowy</a
            >
          </div>
        </div>
        <div class="col-md-6 period-choice">
          <button
            type="button"
            class="btn btn-info btn-lg btn-block dropdown-toggle"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            Wybierz okres
          </button>
          <div class="dropdown-menu dropdown-menu-right">
            <a
              class="dropdown-item"
              id="current-month"
              href="/balance/current-month"
              >Bieżący miesiąc</a
            >
            <a
              class="dropdown-item"
              id="previous-month"
              href="/balance/previous-month"
              >Poprzedni miesiąc</a
            >
            <a
              class="dropdown-item"
              id="current-year"
              href="/balance/current-year"
              >Bieżący rok</a
            >
            <button
              class="dropdown-item"
              id="custom-date"
              data-toggle="modal"
              data-target="#customDateModal"
            >
              Niestandardowy
            </button>
          </div>
        </div>
      </div>
      <!-- Tabele -->
      <div id="tables"></div>
    </section>
    <!-- Wykresy -->
    <section class="charts">
      <div class="row justify-content-center">
        <div class="col-lg-6">
          <div id="piechart-incomes"></div>
        </div>
        <div class="col-lg-6">
          <div id="piechart-expenses"></div>
        </div>
      </div>
    </section>
    <!-- Feedback -->
    <section class="difference py-3">
      <table class="table table-bordered">
        <tr>
          <th scope="col">Różnica</th>
          <td id="difference" class="text-white"></td>
        </tr>
      </table>
      <div class="feedback text-center">
        <div class="onPlus">
          <h4>
            <span class="text-success">Gratulacje. </span>Świetnie zarządzasz
            finansami! <i class="far fa-smile-beam"></i>
          </h4>
        </div>
        <div class="onMinus">
          <h4>
            <span class="text-danger">Uważaj! </span>Wpadasz w długi
            <i class="far fa-sad-tear"></i>
          </h4>
        </div>
      </div>
    </section>
  </div>
  <!-- Modal do wyboru niestandardowego okresu -->
  <div
    class="modal fade"
    id="customDateModal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="customDateModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="customDateModalLabel">
            Podaj daty początku i końca okresu
          </h5>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form
          id="custom-date-choice"
          action="/balance/custom-date"
          method="post"
        >
          <div class="modal-body">
            <div class="input-group mr-2 mb-2">
              <label for="start-date" class="mr-2">Od </label>
              <div class="input-group-prepend">
                <div class="input-group-text">
                  <i class="far fa-calendar-alt"></i>
                </div>
              </div>
              <input
                type="date"
                name="start_date"
                id="start-date"
                class="form-control"
                required
              />
            </div>
            <div class="input-group mr-2 mb-2">
              <label for="end-date" class="mr-2">Do </label>
              <div class="input-group-prepend">
                <div class="input-group-text">
                  <i class="far fa-calendar-alt"></i>
                </div>
              </div>
              <input
                type="date"
                name="end_date"
                id="end-date"
                class="form-control"
                required
              />
            </div>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-dismiss="modal"
            >
              Anuluj
            </button>
            <button type="submit" class="btn btn-some">Wybierz</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</main>
<!-- Skrypt do wyświetlania wykresów kołowych -->
<script
  type="text/javascript"
  src="https://www.gstatic.com/charts/loader.js"
></script>
<!-- Skrypt do prawidłowego wyświetlania bilansu -->
<script id="balance-script"></script>
{% endblock %}
