<h4 class="text-muted text-center mt-2">Bilans z {{ session.which_date }}</h4>
<!-- Widok ogólny -->
{% if session.general_view %}
<script>
  var particularView = false;
</script>
<div class="row justify-content-between">
  <div class="col">
    <h3 class="text-center">Przychody</h3>
    <div class="rwd-table">
      <table class="table table-bordered">
        <thead class="bg-success text-white">
          <tr>
            <th scope="col" class="first-col">#</th>
            <th scope="col" class="middle-col">Kategoria</th>
            <th scope="col">Łączna kwota</th>
          </tr>
        </thead>
        <tbody>
          {% set i = 0 %} {% set sumOfIncomes = 0 %} {% for income in
          session.summed_incomes %}
          <tr>
            {% set i = i + 1 %}
            <th scope="row">{{ i }}</th>
            <td>{{ translated_categories[income.name] }}</td>
            <td id="{{ income.name }}">{{ income.amount }}</td>
            {% set sumOfIncomes = sumOfIncomes + income.amount %}
          </tr>
          {% endfor %}
          <tr>
            <th scope="row">Razem</th>
            <td class="text-center">-</td>
            <th id="incomes">{{ sumOfIncomes }}</th>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<div class="row justify-content-between">
  <div class="col">
    <h3 class="text-center">Wydatki</h3>
    <div class="rwd-table">
      <table class="table table-bordered">
        <thead class="bg-warning text-white">
          <tr>
            <th scope="col" class="first-col">#</th>
            <th scope="col" class="middle-col">Kategoria</th>
            <th scope="col">Łączna kwota</th>
          </tr>
        </thead>
        <tbody>
          {% set i = 0 %} {% set sumOfExpenses = 0 %} {% for expense in
          session.summed_expenses %}
          <tr>
            {% set i = i + 1 %}
            <th scope="row">{{ i }}</th>
            <td>{{ translated_categories[expense.name] }}</td>
            <td id="{{ expense.name }}">{{ expense.amount }}</td>
            {% set sumOfExpenses = sumOfExpenses + expense.amount %}
          </tr>
          {% endfor %}
          <tr>
            <th scope="row">Razem</th>
            <td class="text-center">-</td>
            <th id="expenses">{{ sumOfExpenses }}</th>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endif %}
<!-- Widok szczegółowy -->
{% if session.particular_view %}
<script>
  var particularView = true;
</script>
<div class="row justify-content-between">
  <div class="col">
    <h3 class="text-center">Przychody</h3>
    <div class="rwd-table">
      <table class="table table-bordered">
        <thead class="bg-success text-white">
          <tr>
            <th scope="col" class="first-col">#</th>
            <th scope="col">Kategoria</th>
            <th scope="col">Data</th>
            <th scope="col">Kwota</th>
            <th scope="col">Komentarz</th>
          </tr>
        </thead>
        <tbody>
          {% set i = 0 %} {% set sumOfIncomes = 0 %} {% for income in
          session.all_incomes %}
          <tr>
            {% set i = i + 1 %}
            <th scope="row">{{ i }}</th>
            <td>{{ income.name }}</td>
            <td>{{ income.date_of_income }}</td>
            <td class="{{ income.name }}">{{ income.amount }}</td>
            <td>{{ income.income_comment }}</td>
            {% set sumOfIncomes = sumOfIncomes + income.amount %}
          </tr>
          {% endfor %}
          <tr>
            <th scope="row">Razem</th>
            <td class="text-center">-</td>
            <td class="text-center">-</td>
            <th id="incomes">{{ sumOfIncomes }}</th>
            <td class="text-center">-</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<div class="row justify-content-between">
  <div class="col">
    <h3 class="text-center">Wydatki</h3>
    <div class="rwd-table">
      <table class="table table-bordered">
        <thead class="bg-warning text-white">
          <tr>
            <th scope="col" class="first-col">#</th>
            <th scope="col">Kategoria</th>
            <th scope="col">Metoda płatności</th>
            <th scope="col">Data</th>
            <th scope="col">Kwota</th>
            <th scope="col">Komentarz</th>
          </tr>
        </thead>
        <tbody>
          {% set i = 0 %} {% set sumOfExpenses = 0 %} {% for expense in
          session.all_expenses %}
          <tr>
            {% set i = i + 1 %}
            <th scope="row">{{ i }}</th>
            <td>{{ expense.expense_category }}</td>
            <td>{{ expense.payment_method }}</td>
            <td>{{ expense.date_of_expense }}</td>
            <td class="{{ expense.expense_category }}">{{ expense.amount }}</td>
            <td>{{ expense.expense_comment }}</td>
            {% set sumOfExpenses = sumOfExpenses + expense.amount %}
          </tr>
          {% endfor %}
          <tr>
            <th scope="row">Razem</th>
            <td class="text-center">-</td>
            <td class="text-center">-</td>
            <td class="text-center">-</td>
            <th id="expenses">{{ sumOfExpenses }}</th>
            <td class="text-center">-</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endif %}
