{% extends "base.html" %} {% block title %}Personal Budget Manager 2.1 by
Michael Slabikovsky{% endblock %} {% block body %}
<header class="text-white text-center bg-dark py-2">
  <div class="header-content py-2">
    <h1 class="display-4">Menedżer budżetu osobistego</h1>
    <blockquote class="blockquote">
      <p class="lead mb-0">Pieniądze rosną na drzewie wytrwałości</p>
      <footer class="blockquote-footer text-white">
        Jakiś Japończyk, nieważne jak się nazywał
        <i class="far fa-smile"></i>
      </footer>
    </blockquote>
  </div>
</header>
<main>
  <section class="about mt-3">
    <div
      class="container container-sm border rounded bg-white text-center pt-2"
    >
      {% for message in flash_messages %}
      <div class="alert alert-{{ message.type }}">{{ message.body }}</div>
      {% endfor %}
      <h2>
        Chcesz zapanować nad własnymi finansami?
        <i class="fas fa-comment-dollar"></i>
      </h2>
      <p class="text-muted">
        Ta aplikacja idealnie Ci w tym pomoże! <i class="far fa-thumbs-up"></i>
      </p>
      <h3>Jak zacząć?</h3>
      <ul>
        <li>1. Załóż konto/zaloguj się</li>
        <li>
          2. Dodawaj swoje <strong>przychody i wydatki</strong> do aplikacji
        </li>
        <li>
          3. Przejdź do <strong>bilansu</strong> i obserwuj swoje finanse -
          sprawdź czy nie jesteś "pod kreską" <i class="far fa-smile"></i>
        </li>
      </ul>
    </div>
  </section>
  <section class="main-menu mt-3">
    <div class="container py-3">
      <div class="row">
        <div class="col-md-6">
          <button
            class="btn btn-lg btn-block btn-primary mb-3 mb-md-0"
            data-toggle="modal"
            data-target="#registerModal"
          >
            Zarejestruj się <i class="fas fa-user-plus"></i>
          </button>
        </div>
        <div class="col-md-6">
          <button
            class="btn btn-lg btn-block btn-success mb-5 mb-md-0"
            data-toggle="modal"
            data-target="#loginModal"
          >
            Zaloguj się <i class="fas fa-key"></i>
          </button>
        </div>
      </div>
    </div>
  </section>
  <!-- Modal do rejestracji -->
  <div
    class="modal fade"
    id="registerModal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="registerModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="registerModalLabel">Rejestracja</h5>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form action="create" id="register" method="post">
          <div class="modal-body">
            <div class="input-group mr-2">
              <div class="input-group-prepend">
                <div class="input-group-text"><i class="fas fa-user"></i></div>
              </div>
              <label class="sr-only" for="name">Imię</label>
              <input
                type="text"
                name="name"
                id="name"
                class="form-control"
                placeholder="Imię"
                value="{{ user.name }}"
                required
              />
            </div>
            <div class="input-group mr-2 mt-2">
              <div class="input-group-prepend">
                <div class="input-group-text"><i class="fas fa-user"></i></div>
              </div>
              <label class="sr-only" for="surname">Nazwisko</label>
              <input
                type="text"
                name="surname"
                id="surname"
                class="form-control"
                placeholder="Nazwisko"
                value="{{ user.surname }}"
                required
              />
            </div>
            <div class="input-group mr-2 mt-2">
              <div class="input-group-prepend">
                <div class="input-group-text"><i class="fas fa-at"></i></div>
              </div>
              <label class="sr-only" for="email">E-mail</label>
              <input
                type="email"
                name="email"
                id="email"
                class="form-control"
                placeholder="E-mail"
                value="{{ user.email }}"
                required
              />
            </div>
            <div class="input-group mr-2 mt-2">
              <div class="input-group-prepend">
                <div class="input-group-text pr-2">
                  <i class="fas fa-user-shield"></i>
                </div>
              </div>
              <label class="sr-only" for="username">Login</label>
              <input
                type="text"
                name="username"
                id="username"
                class="form-control"
                placeholder="Login"
                value="{{ user.username }}"
                required
              />
            </div>
            <div class="input-group mr-2 mt-2">
              <div class="input-group-prepend">
                <div class="input-group-text"><i class="fas fa-key"></i></div>
              </div>
              <label class="sr-only" for="password">Hasło</label>
              <input
                type="password"
                name="password"
                id="password"
                class="form-control"
                placeholder="Hasło"
                required
              />
            </div>
            <div class="input-group mr-2 mt-2">
              <div class="input-group-prepend">
                <div class="input-group-text"><i class="fas fa-key"></i></div>
              </div>
              <label class="sr-only" for="passwordConfirmation"
                >Potwierdź hasło</label
              >
              <input
                type="password"
                name="passwordConfirmation"
                id="passwordConfirmation"
                class="form-control"
                placeholder="Powtórz hasło"
                required
              />
            </div>
          </div>
          {% if user.errors is not empty %}
          <script>
            $(function () {
              $("#registerModal").modal("show");
            });
          </script>
          <div>
            <p class="text-danger ml-3">Lista błędów:</p>
            <ul>
              {% for error in user.errors %}
              <li>{{ error }}</li>
              {% endfor %}
            </ul>
          </div>
          {% endif %}
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-dismiss="modal"
            >
              Anuluj
            </button>
            <button type="submit" class="btn btn-primary">
              Załóż konto <i class="fas fa-user-plus"></i>
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <!-- Modal do logowania -->
  <div
    class="modal fade"
    id="loginModal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="loginModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="loginModalLabel">Logowanie</h5>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form id="login" method="post" action="login">
          <div class="modal-body">
            <div class="input-group mr-2 mb-2">
              <div class="input-group-prepend">
                <div class="input-group-text pr-2">
                  <i class="fas fa-user-shield"></i>
                </div>
              </div>
              <label class="sr-only" for="userLogin">Login</label>
              <input
                type="text"
                name="userLogin"
                id="userLogin"
                class="form-control"
                placeholder="Login"
                required
              />
            </div>
            <div class="input-group mr-2 mb-2">
              <div class="input-group-prepend">
                <div class="input-group-text"><i class="fas fa-key"></i></div>
              </div>
              <label class="sr-only" for="authorization">Hasło</label>
              <input
                type="password"
                name="authorization"
                id="authorization"
                class="form-control"
                placeholder="Hasło"
                required
              />
            </div>
            <div class="form-check">
              <label>
                <input
                  class="form-check-input"
                  type="checkbox"
                  name="remember_me"
                  {%
                  if
                  remember_me
                  %}
                  checked="checked"
                  {%
                  endif
                  %}
                />
                Zapamiętaj mnie
              </label>
            </div>
          </div>
          {% if session.login_failed %}
          <script>
            $(function () {
              $("#loginModal").modal("show");
            });
          </script>
          <div>
            <p class="text-danger text-center">{{ session.login_failed }}</p>
          </div>
          {% endif %}
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-dismiss="modal"
            >
              Anuluj
            </button>
            <button type="submit" class="btn btn-success">
              Zaloguj się <i class="fas fa-key"></i>
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <!-- Modal po rejestracji -->
  <div
    class="modal fade"
    id="registerConfirmation"
    tabindex="-1"
    role="dialog"
    aria-labelledby="registerConfirmationLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title text-success" id="registerConfirmationLabel">
            Sukces
          </h5>
          <a href="main.html" class="close">
            <span aria-hidden="true">&times;</span>
          </a>
        </div>
        <div class="modal-body">
          <h3 class="text-center">Rejestracja zakończona sukcesem</h3>
        </div>
        <div class="modal-footer justify-content-center">
          <button type="button" class="btn btn-primary" data-dismiss="modal">
            OK <i class="far fa-smile"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</main>
{% endblock %}
