{% extends "base.html" %} {% block title %}Konto założone{% endblock %} {% block
body %}
<div
  class="container container-sm border rounded bg-white text-center py-2 mt-2"
>
  <h1>
    E-mail z linkiem aktywacyjnym został wysłany <i class="far fa-smile"></i>
  </h1>
  <p class="lead">
    Kliknij na link umieszczony w mailu, aby dokończyć rejestrację
  </p>
  <p class="text-secondary">
    Jeśli nie możesz znaleźć maila w swojej skrzynce odbiorczej, sprawdź folder
    SPAM
  </p>
  <a class="btn btn-other" href="/">Powrót</a>
</div>
{% endblock %}
