<table class="table table-hover table-bordered">
  <thead class="table-primary">
    <tr>
      <th scope="col" class="first-col">#</th>
      <th scope="col" class="text-center">Kategoria</th>
    </tr>
  </thead>
  <tbody>
    {% set i = 1 %} {% for category in session.expenses_categories %}
    <tr>
      <th scope="row">{{ i }}</th>
      <td>
        {{ category.name }}
        <div class="edit-buttons float-right">
          <button
            id="{{ category.name }}-edit"
            class="btn btn-warning expense-edit"
            data-toggle="modal"
            data-target="#editModal"
            title="edytuj"
          >
            <i class="far fa-edit"></i>
          </button>
          <button class="btn btn-danger" title="usuń">
            <i class="far fa-trash-alt"></i>
          </button>
        </div>
      </td>
    </tr>
    {% set i = i + 1 %} {% endfor %}
  </tbody>
</table>
<button class="btn btn-success btn-block">
  Dodaj <i class="fas fa-plus"></i>
</button>
