<table class="table table-hover table-bordered">
  <thead class="table-primary">
    <tr>
      <th scope="col" class="first-col">#</th>
      <th scope="col" class="text-center">Kategoria</th>
    </tr>
  </thead>
  <tbody>
    {% set i = 1 %} {% for category in session.incomes_categories %}
    <tr>
      <th scope="row">{{ i }}</th>
      <td>
        <span class="category">{{ translated_categories[category.name] }}</span>
        <div class="edit-buttons float-right">
          <form class="edit-income" action="" method="post">
            <input
              type="hidden"
              value="{{ translated_categories[category.name] }}"
            />
            <input
              type="hidden"
              class="original-name"
              value="{{ category.name }}"
            />
            <button
              type="submit"
              class="btn btn-warning"
              data-toggle="modal"
              data-target="#editModal"
              title="edytuj"
            >
              <i class="far fa-edit"></i>
            </button>
            <button
              type="button"
              class="btn btn-danger delete-income"
              data-toggle="modal"
              data-target="#deleteModal"
              data-translated-name="{{ translated_categories[category.name] }}"
              data-original-name="{{ category.name }}"
              title="usuń"
            >
              <i class="far fa-trash-alt"></i>
            </button>
          </form>
        </div>
      </td>
    </tr>
    {% set i = i + 1 %} {% endfor %}
  </tbody>
</table>
<button
  class="btn btn-success btn-block add-income"
  data-toggle="modal"
  data-target="#addModal"
>
  Dodaj <i class="fas fa-plus"></i>
</button>
