<table class="table table-hover table-bordered">
  <thead class="table-primary">
    <tr>
      <th scope="col" class="first-col">#</th>
      <th scope="col" class="text-center">Kategoria</th>
    </tr>
  </thead>
  <tbody>
    {% set i = 1 %} {% for method in session.payment_methods %}
    <tr>
      <th scope="row">{{ i }}</th>
      <td>
        {{ translated_categories[method.name] }}
        <div class="edit-buttons float-right">
          <form action="" class="edit-payment">
            <input
              type="hidden"
              name="{{ method.name }}_edit"
              value="{{ translated_categories[method.name] }}"
            />
            <input
              type="hidden"
              class="original-name"
              name="{{ category.name }}_noidea"
              value="{{ category.name }}"
            />
            <button
              type="submit"
              id="{{ method.name }}-edit"
              class="btn btn-warning"
              data-toggle="modal"
              data-target="#editModal"
              title="edytuj"
            >
              <i class="far fa-edit"></i>
            </button>
            <button
              type="button"
              class="btn btn-danger"
              data-toggle="modal"
              data-target="#deleteModal"
              title="usuń"
            >
              <i class="far fa-trash-alt"></i>
            </button>
          </form>
        </div>
      </td>
    </tr>
    {% set i = i + 1 %} {% endfor %}
  </tbody>
</table>
<button class="btn btn-success btn-block">
  Dodaj <i class="fas fa-plus"></i>
</button>
