{% extends "base-logged.html" %} {% block scripts %}
<script src="/js/settings-list.js"></script>
{% endblock %} {% block title %}Ustawienia{% endblock %} {% block subtitle
%}Ustawienia{% endblock %}{% block fifthOption %}active{% endblock %} {% block
main %}
<script>
  $(document).ready(function () {
    $("#incomes").click(function () {
      $.get("settings/get-incomes-categories")
        .done(function (data, status) {
          $("#incomes-categories").html(data);
        })
        .fail(function (status) {
          console.log(status);
        });
    });
    $("#expenses").click(function () {
      $.get("settings/get-expenses-categories")
        .done(function (data, status) {
          $("#expenses-categories").html(data);
        })
        .fail(function (status) {
          console.log(status);
        });
    });
    $("#payment").click(function () {
      $.get("settings/get-payment-methods")
        .done(function (data, status) {
          $("#payment-methods").html(data);
        })
        .fail(function (status) {
          console.log(status);
        });
    });
  });
</script>
<div class="container border rounded bg-white mt-2 pt-3">
  <section class="settings">
    <h3 class="text-center">Kategorie ustawień</h3>
    <ul id="settings-list" class="accordionjs">
      <li>
        <div id="incomes" class="bg-info text-white">
          Przychody <i class="fas fa-angle-up"></i>
        </div>
        <div>
          <h4 class="text-center text-secondary">Istniejące kategorie</h4>
          <div id="incomes-categories"></div>
        </div>
      </li>
      <li>
        <div id="expenses" class="bg-info text-white">
          Wydatki <i class="fas fa-angle-down"></i>
        </div>
        <div>
          <h4 class="text-center text-secondary">Istniejące kategorie</h4>
          <div id="expenses-categories"></div>
        </div>
      </li>
      <li>
        <div id="payment" class="bg-info text-white">
          Sposoby płatności <i class="fas fa-angle-down"></i>
        </div>
        <div>
          <h4 class="text-center text-secondary">
            Istniejące sposoby płatności
          </h4>
          <div id="payment-methods"></div>
        </div>
      </li>
      <li>
        <div id="account" class="bg-info text-white">
          Konto użytkownika <i class="fas fa-angle-down"></i>
        </div>
        <div>
          <p class="lead">Login: <strong>{{ user.username }}</strong></p>
          <p>E-mail: <strong>{{ user.email }}</strong></p>
          <p>Imię: <strong>{{ user.name }}</strong></p>
        </div>
      </li>
    </ul>
  </section>
</div>
{% endblock %}
