{% extends "base-logged.html" %} {% block scripts %}
<script src="/js/settings-list.js"></script>
<script src="/js/settings-actions.js"></script>
{% endblock %} {% block title %}Ustawienia{% endblock %} {% block subtitle
%}Ustawienia{% endblock %}{% block fifthOption %}active{% endblock %} {% block
main %}
<div class="container border rounded bg-white mt-2 pt-3">
  <section class="settings">
    <h3 class="text-center">Kategorie ustawień</h3>
    <ul id="settings-list" class="accordionjs">
      <li>
        <div id="incomes" class="bg-info text-white">
          Przychody <i class="fas fa-angle-up"></i>
        </div>
        <div>
          <div class="messages-finances"></div>
          <h4 class="text-center text-secondary">Istniejące kategorie</h4>
          <div id="incomes-categories"></div>
        </div>
      </li>
      <li>
        <div id="expenses" class="bg-info text-white">
          Wydatki <i class="fas fa-angle-down"></i>
        </div>
        <div>
          <div class="messages-finances"></div>
          <h4 class="text-center text-secondary">Istniejące kategorie</h4>
          <div id="expenses-categories"></div>
        </div>
      </li>
      <li>
        <div id="payment" class="bg-info text-white">
          Sposoby płatności <i class="fas fa-angle-down"></i>
        </div>
        <div>
          <div class="messages-finances"></div>
          <h4 class="text-center text-secondary">
            Istniejące sposoby płatności
          </h4>
          <div id="payment-methods"></div>
        </div>
      </li>
      <li>
        <div id="account" class="bg-info text-white">
          Konto użytkownika <i class="fas fa-angle-down"></i>
        </div>
        <div>
          <div class="row">
            <div class="col-md-6">
              <p class="lead">Login: <strong>{{ user.username }}</strong></p>
              <p>E-mail: <strong>{{ user.email }}</strong></p>
              <p>Imię: <strong>{{ user.name }}</strong></p>
            </div>
            <div class="col-md-6">
              <div id="messages"></div>
              <form
                id="change-data-form"
                action="settings/change-user-data"
                method="post"
              >
                <div class="input-group mb-2">
                  <div class="input-group-prepend">
                    <div class="input-group-text pr-2">
                      <i class="fas fa-user-shield"></i>
                    </div>
                  </div>
                  <label class="sr-only" for="username">Zmiana loginu</label>
                  <input
                    type="text"
                    name="username"
                    id="username"
                    class="form-control"
                    placeholder="Zmiana loginu"
                  />
                </div>
                <div class="input-group mb-2">
                  <div class="input-group-prepend">
                    <div class="input-group-text">
                      <i class="fas fa-at"></i>
                    </div>
                  </div>
                  <label class="sr-only" for="email"
                    >Zmiana adresu e-mail</label
                  >
                  <input
                    type="email"
                    name="email"
                    id="email"
                    class="form-control"
                    placeholder="Zmiana adresu e-mail"
                  />
                </div>
                <div class="input-group mb-2">
                  <div class="input-group-prepend">
                    <div class="input-group-text">
                      <i class="fas fa-user"></i>
                    </div>
                  </div>
                  <label class="sr-only" for="name">Zmiana imienia</label>
                  <input
                    type="text"
                    name="name"
                    id="name"
                    class="form-control"
                    placeholder="Zmiana imienia"
                  />
                </div>
                <div class="input-group mb-2">
                  <div class="input-group-prepend">
                    <div class="input-group-text">
                      <i class="fas fa-key"></i>
                    </div>
                  </div>
                  <label class="sr-only" for="password">Stare hasło</label>
                  <input
                    type="password"
                    name="old_password"
                    id="old-password"
                    class="form-control"
                    placeholder="Stare hasło"
                  />
                </div>
                <div class="input-group mb-2">
                  <div class="input-group-prepend">
                    <div class="input-group-text">
                      <i class="fas fa-key"></i>
                    </div>
                  </div>
                  <label class="sr-only" for="password">Nowe hasło</label>
                  <input
                    type="password"
                    name="new_password"
                    id="new-password"
                    class="form-control"
                    placeholder="Nowe hasło"
                  />
                </div>
                <div class="input-group mb-2">
                  <div class="input-group-prepend">
                    <div class="input-group-text">
                      <i class="fas fa-key"></i>
                    </div>
                  </div>
                  <label class="sr-only" for="password"
                    >Powtórz nowe hasło</label
                  >
                  <input
                    type="password"
                    name="new_password_confirmation"
                    id="new-password-confirmation"
                    class="form-control"
                    placeholder="Powtórz nowe hasło"
                  />
                </div>
                <button type="submit" class="btn btn-primary btn-block">
                  Zmień dane <i class="fas fa-exchange-alt"></i>
                </button>
              </form>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </section>
  <!-- Modal do edycji kategorii -->
  <div
    class="modal fade"
    id="editModal"
    data-backdrop="static"
    data-keyboard="false"
    tabindex="-1"
    aria-labelledby="editModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="editModalLabel">Zmiana kategorii</h5>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Zamknij"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form action="settings/edit" method="post" id="send-edit">
          <div class="modal-body">
            <div class="input-group mr-2">
              <div class="input-group-prepend">
                <div class="input-group-text">
                  <i class="fas fa-file-invoice-dollar"></i>
                </div>
              </div>
              <label class="sr-only" for="name">Kategoria</label>
              <input type="hidden" name="old_name" id="old-name" value="" />
              <input
                type="text"
                name="new_name"
                id="category-edit"
                class="form-control"
                value=""
                required
              />
            </div>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-dismiss="modal"
            >
              Anuluj
            </button>
            <button type="submit" class="btn btn-some">
              Zmień <i class="fas fa-exchange-alt"></i>
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- Modal do usuwania kategorii -->
<div
  class="modal fade"
  id="deleteModal"
  data-backdrop="static"
  data-keyboard="false"
  tabindex="-1"
  aria-labelledby="deleteModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editModalLabel">Usuwanie kategorii</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Zamknij"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form action="settings/delete" method="post" id="send-delete">
        <div class="modal-body">
          <input
            type="hidden"
            name="category"
            id="original-category-to-delete"
            value=""
          />
          <p class="text-center">
            Czy na pewno chcesz usunąć kategorię
            <strong id="category-to-delete"></strong> wraz z jej zawartością?
          </p>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-danger">
            Tak <i class="far fa-trash-alt"></i>
          </button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">
            Nie
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
<!-- Modal do dodawania kategorii -->
<div
  class="modal fade"
  id="addModal"
  data-backdrop="static"
  data-keyboard="false"
  tabindex="-1"
  aria-labelledby="addModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editModalLabel">Dodawanie kategorii</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Zamknij"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form action="settings/add" method="post" id="send-add">
        <div class="modal-body">
          <div class="input-group mr-2">
            <div class="input-group-prepend">
              <div class="input-group-text">
                <i class="fas fa-file-invoice-dollar"></i>
              </div>
            </div>
            <label class="sr-only" for="name">Kategoria</label>
            <input
              type="text"
              name="new_name"
              id="category-add"
              class="form-control"
              placeholder="Nazwa kategorii"
              required
            />
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">
            Anuluj
          </button>
          <button type="submit" class="btn btn-success">
            Dodaj <i class="fas fa-plus"></i>
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
