<!DOCTYPE html>
<html lang="pl">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans&family=Shadows+Into+Light&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="all.min.css" />
    <link rel="stylesheet" href="css/main.css" />
    <title>{% block title %}{% endblock %}</title>
  </head>
  <body>
    {% block body %} {% endblock %}
    <footer class="main-footer">
      <div class="container-fluid bg-dark pt-1 mt-2">
        <div class="row">
          <div class="col">
            <h6 class="text-white text-center">
              Copyright &copy; 2020 Michael Slabikovsky
            </h6>
          </div>
        </div>
      </div>
    </footer>
    <!-- Skrypty do prawidłowego działania Bootstrapa -->
    <script src="js/jquery-3.5.1.min.js"></script>
    <script src="bootstrap-4.5.2/dist/js/bootstrap.min.js"></script>
  </body>
</html>
